*{
    box-sizing: border-box;
    font-family: monospace;
    margin: 0;
    padding: 0;
}

body{
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
}

#canvas, #score{
    display: none;
}